<div class="container">
 <!------------------------------- Setting Tabs ------------------------------------>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class ="nav-link nav-item active" *ngFor="let tab of tabs" (click)="select(tab)">{{tab.name}}</a>
  </nav>
  <div *ngIf="selectedTab">
    <app-tabs-container [tabTitle]="selectedTab" (selectedItem)="onSelectedItem($event)"
    (FormControlInputs)="formInputs($event)" [submitted]="isFormSubmitted" >
    </app-tabs-container>
  </div>
  <div>
  <button type="button" class="btn btn-primary custom-btn" data-toggle="modal" data-target="#exampleModal">
      Save
  </button>
<!----------------- Bootstrap Markup Code ------------------>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Publish the following changes</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  <!------------------Table View Of Drop Down Changes ------------------>
          <div *ngIf="showChangeItems.length>0">
            <h5> Drop Down Changes </h5>
          <table class="table" >
            <thead>
              <tr>
                <th>Order Id</th>
                <th>Previous Value </th>
                <th>Current Value</th>
              </tr>
            </thead>
            <tbody *ngFor="let parcel of showChangeItems">
              <tr>
                <td>{{parcel.orderId}}</td>
                <td>{{parcel.prevValue}}</td>
                <td>{{parcel.currValue}}</td>
              </tr>
            </tbody>
          </table>
          </div>
          <div *ngIf="changedItems.length==0">
            <h5> Drop Down Changes</h5>
            No Changes to display
          </div>
          <!-------------------Table View of FormChanges ------------------->
          <div *ngIf="formChangedInputs.order_Id !==''">
            <hr/>
            <h5> FormInput Changes</h5>
            <table class="table">
                <thead>
                    <tr>
                      <th> view</th>
                      <th> previous value </th>
                      <th> current value </th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Order Number</td>
                    <td>{{previousFormInputs.order_id}}</td>
                    <td>{{formChangedInputs.order_id}}</td>
                  </tr>
                  <tr>
                    <td> Name </td>
                    <td>{{previousFormInputs.name}}</td>
                    <td>{{formChangedInputs.name}}</td>
                  </tr>
                </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="saveChanges()" data-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

