<div class="container">
    <div class="tab-slider--nav">
      <ul class="tab-slider--tabs">
        <li class="tab-slider--trigger"  rel="tab1" (click)="secondTab=false;firstTab=true">Tab 1</li>
        <li class="tab-slider--trigger"  rel="tab2" (click)="firstTab=false;secondTab=true">Tab 2</li>
      </ul>
    </div>
    <div class="tab-slider--container">
      <div *ngIf="firstTab" id="tab1" class="tab-slider--body">
        <!--<app-parcel-table [title]="firstTabTile" (selectedItem)="onSelectedItem($event)"></app-parcel-table>
        -->
        <h2>{{tab1Title}}</h2>
          <table class="table">
            <thead>
              <tr>
                <th>Order Number</th>
                <th>Name </th>
                <th>Order Date</th>
                <th>Items</th>
              </tr>
            </thead>
            <tbody *ngFor="let parcel of parcelData;let i=index ">
              <tr>
                <td>{{parcel.id}}</td>
                <td>{{parcel.name}}</td>
                <td>{{parcel.date}}</td>
                <td>
                  <select #t (change)="onChange(t.value,parcel)" class="form-control">
                    <option *ngFor="let item of parcel.items" [value]="item">{{item}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <div *ngIf="secondTab" id="tab2" class="tab-slider--body">
        <h2>{{tab2Title}}</h2>
        <form [formGroup]="orderForm">
            <div class="form-group">
              <label for="order_id">Order Number:</label>
                <input class="form-control" id="order_id" formControlName="order_id">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input  class="form-control" formControlName="name">
            </div>
            <div class="form-group">
              <label for="name">date</label>
              <input  class="form-control" formControlName="date">
            </div>
          </form>
          <p>Form value: {{ orderForm.value | json }}</p>
          <p>Form status: {{ orderForm.status | json }}</p>
      </div>
    </div>
  </div>