<div class="container">
    <div class="tab-slider--container">
      <div *ngIf="tabTitle=='Select Items'" id="tab1" class="tab-slider--body">
        <h2>{{tabTitle}}</h2>
        <!--------------- Table view of Parcels ---------------------->
          <table class="table">
            <thead>
              <tr>
                <th>Order Number</th>
                <th>Name </th>
                <th>Order Date</th>
                <th>Items</th>
              </tr>
            </thead>
            <tbody *ngFor="let parcel of parcelData;let i=index ">
              <tr>
                <td>{{parcel.id}}</td>
                <td>{{parcel.name}}</td>
                <td>{{parcel.date}}</td>
                <td>
                  <select #t (change)="onChange(t.value,parcel)" class="form-control">
                    <option *ngFor="let item of parcel.items" [value]="item">{{item}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      <div *ngIf="tabTitle=='Add Order Details'" id="tab2" class="tab-slider--body">
        <h2>{{tabTitle}}</h2>
      <!-------------------- Reactive Form for adding Details --------------------------->
        <form [formGroup]="orderForm">
            <div class="form-group">
              <label for="order_id">Order Number:</label>
                <input class="form-control" id="order_id" (input)="onFormInputChange()" formControlName="order_id">
            </div>
            <div class="form-group">
              <label for="name">Name</label>
              <input  class="form-control" (input)="onFormInputChange()" formControlName="name">
            </div>
          </form>
          <p>Form value: {{ orderForm.value | json }}</p>
          <p>Form status: {{ orderForm.status | json }}</p>
      </div>
    </div>
  </div>